﻿#recipeContainer {
    height: 100%;
    margin: 1%;
    display: -ms-flexbox;
    -ms-flex-direction: row;
    overflow: auto;
    overflow-x: hidden; 
}
    #recipeContainer a, a:active, a:visited{
        color: inherit;
        text-decoration:none;
    }
    #recipeContainer a:hover {
        color: inherit;
        text-decoration:underline;
    }
    #recipeContainer .recipe {
        width: 70%;
        display: -ms-flexbox;
        -ms-flex-direction: column;
        margin-top: 2%;
        margin-left: 5%;
    }

    #recipeContainer .recipe #name{
        font-weight: bold;
        font-size: 150%;
    }

     #recipeContainer #img_container{
        text-align: center;
        margin-left:15%;
        margin-top:4%;
        margin-bottom:2%;
        height: 35%;
        width: 60%;
    }

        #recipeContainer #img_container img {
            height: 100%;
            width: 70%;
            border: solid;
            border-color: black;
        }

    #recipeContainer #name {
        font-size: 125%;
    }

    #recipeContainer #description {
        height: 43%;
        overflow: auto;
        overflow-x: hidden;
        padding-right:4%;
        margin-top:2%;
        text-align: justify;
        width: 95%;
    }

    #recipeContainer #ingredients {
        height: 78%;
        margin-top: 8%;
        font-size: 110%;
        overflow: auto;
        overflow-x: hidden;
    }

        #recipeContainer #ingredients #list ul {
                line-height: 2em;
        }
