﻿<head>
    <meta charset="utf-8" />
    <title>App3</title>

    <!-- WinJS references -->
    <link href="//Microsoft.WinJS.1.0/css/ui-dark.css" rel="stylesheet" />
    <script src="//Microsoft.WinJS.1.0/js/base.js"></script>
    <script src="//Microsoft.WinJS.1.0/js/ui.js"></script>
    <!-- App3 references -->

    <script src="SQLite3JS/js/SQLite3.js"></script>
    <link href="/css/list_recipes.css" rel="stylesheet" />
    <script src="/js/LayoutContainer.js"></script>
    <script src="/js/SQLite3.js"></script>
    <script src="/js/default.js"></script>
    <script src="/js/database.js"></script>

   <script>
       window.onload = function ()
       {
                var count = 10;
                var layout = new LayoutContainer(count, 'myTabCss', 'myRowCss', 'myCellCss');
                var table = layout.CreateContainer();
           //przykladowe dane (powinny byc z db pobierane)
                var picturesPaths = ["images/1.jpg", "images/3.jpg", "images/pobrane.jpg",
                    "images/4.jpg", "images/5.jpg", "images/6.jpg", "images/cycuszki.jpg", "images/7.jpg",
                    "images/8.jpg", "images/10.jpg"];
               var repicesIds = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
                
                if( count < 3 )
                    document.getElementById('myDiv').innerHTML = window.toStaticHTML('<br><br>' + table.toString());
                else
                    document.getElementById('myDiv').innerHTML = window.toStaticHTML(table.toString());
                var prefix = 'first';
                var j = 0;
                for (var i = 0; i < count; i++)
                {
                    var image = layout.CreateElementContent(picturesPaths[i], 'openWindowWithRepice', 'myImageCss', repicesIds[i]);
                    if (j == layout.width)
                    {
                        j = 0;
                        prefix = "second";
                    }

                  document.getElementById( prefix + j.toString()).innerHTML = window.toStaticHTML(image.toString());
                  j++;
               }
           }
   </script>
    
</head>
<body>
    <div id="backCont">
        <button data-win-control="WinJS.UI.AppBarCommand" data-win-options="{icon:'back', label:'Wstecz', onclick:null, type:'button', tooltip:'Powrót do głownego ekranu'}"></button> 
    </div>
    <div id="containerOfRecipies">
        <div id="name">Przepisy</div>
        <div id="myDiv">dasasdsaddasdsa</div>
    </div>
    
   
</body>