﻿#listContainer {
    margin: 1%;
    width: inherit;
    height: 98%;
    display: -ms-flexbox;
    -ms-flex-direction: row;
    overflow: auto;
    overflow-y: hidden;
}

    #listContainer #containerOfRecipies {
        height: 90%;
        width: inherit;
        margin-top: 3.5%;
    }

        #listContainer #containerOfRecipies #name {
            font-size: 250%;
            margin-left: 2%;
            text-decoration:underline;
        }
        #listContainer #containerOfRecipies #myDiv {
            margin-top: 2.5%;
            height: inherit;
        }

            #listContainer #containerOfRecipies #myDiv .myTabCss {
                height: inherit;
                width: inherit;
            }

            #listContainer #containerOfRecipies #myDiv .myRowCss {
                height: 42%;
                width: inherit;
            }

            #listContainer #containerOfRecipies #myDiv .myCellCss {
                height: inherit;
                width: inherit;
            }

            #listContainer #containerOfRecipies #myDiv .myImageCss {
                border: solid;
                border-color: black;
                height:60%;
                width:100%;
                cursor:pointer;
            }

            #listContainer #containerOfRecipies #myDiv .catName {
                cursor:pointer;
            }


