﻿<head>
    <meta charset="utf-8" />
    <title>Recipes list</title>

    <link href="/pages/categories/categories.css" rel="stylesheet" />
    <script src="/js/jquery-2.0.3.min.js"></script>
    <script src="/pages/categories/functions.js"></script>
    <script src="/pages/categories/categories.js"></script>
    
</head>
<body>

    <div id="listContainer">
        <div id="backCont">
            <header aria-label="Header content" role="banner">
                <button class="win-backbutton" aria-label="Back" disabled type="button"></button>
            </header>
        </div>
        <div id="containerOfRecipies">
            <div id="name">Kategorie</div>
            <div id="myDiv">Jeżeli widzisz ten tekst to niedobrze</div>
        </div>
    </div>
    
   
</body>