﻿#backCont{
    margin: 1%;
    color:red;
}
#groupedListView{
    height: 89%;
    padding-left: 6%;
    padding-right: 2%;
}

#empty{
    display:none; 
    margin:auto;
}

    #empty h1{
        margin: 25%; 
        margin-top: 20%;
    }

    .win-listview .win-itembox {
        
        background: white;
        width: 10em;
        height: 10em;
        border: 1px solid black;
    }

        .win-listview .win-itembox .namesItem-Detail{
            width: 10em;
            height: 10em;
        }

    .win-listview .win-itembox .namesItem-Detail h4 {
        padding-left: 0.5em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        background-color: rgba(0,100,0,0.8);
    }